<div class="row-fluid cards">
    <div class="card-deck">
        <div class="card mb-3 shadow card-theme">
            <div class="card-header card-header-theme">
                <h5>Fruit Consumption</h5>
            </div>
            <div class="card-body">
                <highcharts-chart [Highcharts]="highcharts" [options]="chart3"
                    style="width: 100%; height: 370px; display: block;">
                </highcharts-chart>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid cards">
    <div class="card-deck">
        <div class="card mb-3 shadow card-theme">
            <div class="card-header card-header-theme">
                <h5>Live Random Data</h5>
            </div>
            <div class="card-body">
                <highcharts-chart [Highcharts]="highcharts" [options]="chart2"
                    style="width: 100%; height: 370px; display: block;">
                </highcharts-chart>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid cards">
    <div class="card-deck">
        <div class="card mb-3 shadow card-theme">
            <div class="card-header card-header-theme">
                <h5>Solar Employment Growth by Sector, 2010-2016</h5>
            </div>
            <div class="card-body">
                <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
                    style="width: 100%; height: 370px; display: block;">
                </highcharts-chart>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid cards">
    <div class="card-deck">
        <div class="card mb-3 shadow card-theme">
            <div class="card-header card-header-theme">
                <h5>Total fruit consumtion, grouped by gender</h5>
            </div>
            <div class="card-body">
                <highcharts-chart [Highcharts]="highcharts" [options]="chart1"
                    style="width: 100%; height: 370px; display: block;">
                </highcharts-chart>
            </div>
        </div>
    </div>
</div>