<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="currentUser" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav mr-auto">

        <!-- Return for future development -->
        <li class="nav-item active">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="charts">Charts</a>
        </li>
      </ul>
      <ul class="nav my-2 my-lg-0">
        <li class="nav-item">
          <a *ngIf="(loaderService.timeStamp | async)" class="nav-link disabled">Last Updated:
            {{loaderService.timeStamp | async}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-user"></i>
            {{currentUser.firstName}} </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item waves-effect waves-light text-danger" (click)="logout()">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="col-md-6 offset-md-3 mt-5">
    <alert></alert>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- loader div -->
<div *ngIf="loaderService.isLoading | async" class="loader">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>